<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h4 class="card-title"><%= @task.description %></h4>
    <hr />
    <h6 class="card-subtitle mb-2 text-body-secondary">due on <%= @task.due_date.strftime('%b %d, %Y') %></h6>
    <br />
    <br />
    <%= link_to "Edit this task", edit_category_task_path(@category, @task), class:"btn btn-dark" %>
    <%= link_to "Back to categories", categories_path, class:"btn btn-secondary" %>
    <br />
    <br />
    <%= button_to "Delete this task", category_task_path(@category, @task), method: :delete, class:"btn btn-danger" %>
  </div>
</div>