<div class="card" style="width: 25rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @category.title %></h5>
    <p class="card-text"><%= @category.details.html_safe %></p>
    <%= link_to "Edit this category", edit_category_path(@category) %>
    <%= link_to "Back to categories", categories_path %>
    <br>
    <br>
    <%= button_to "Delete this category", @category, method: :delete %>
  </div>
</div>
